/* Chrome, Safari, Edge, Opera remove default spinner*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove defdault spinner*/
input[type=number] {
  -moz-appearance: textfield;
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    text-align: center;
}

h1{
    padding: 0;
    margin: 0;
}

header {
    background-color: #881337;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

#userInput{
    background-color: inherit;
    border: 2px solid #FDA4AF;
    border-radius: 5px;
    color: white;
    font-size: 58px;
    font-weight: bold;
    padding: 10px;
    max-width: 23rem;
    text-align: center;
}

#convert-btn{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

main{
    margin: 0;
    padding: 40px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section{
    background-color: white;
    padding: 10px 20px;
}

section h3{
    color: #E11D48;
    font-size: 20px;
}